<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/login.css">
<!--    <script src="../static/login.js"></script>-->
</head>
<body>
<div class="mainbox">
    <form class="inputitem"  id = 'login-form'>
        <div class="inputbox" >
            <label>
                <Input type="text" class = "form-control" placeholder="Username" name="username"></Input>
            </label>
        </div>
        <div class="inputbox" >
            <label>
                <Input type="password" class = "form-control" placeholder="Password"  name="password"></Input>
                              <span id="error-message" class="error-message"></span>
            </label>
        </div>
    </form>
    <a class="button_form" href="/wall">Log In</a>
    <a class="button_text" href="/signup">Don`t have an account? Sign up!</a>

</div>
</body>
</html>

